name: Continuous Integration

on: [push,pull_request]

jobs:
    continuous-integration:
      runs-on: ubuntu-latest
      
      steps:
          - uses: actions/checkout@v4
          - name: Using Node.js
            uses: actions/setup-node@v4
            with:
                node-version: 20.x
          - name: run install and build
            run: |
              npm install
              npm run build
              npm run serve
